body {
  background: white;
  
}

a {
  color: #9670f4;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.App-header {
    margin: 30px 0;
  }
  
  .App-logo {
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
  
  .App-footer {
    text-align: center;
    margin: 30px 0;
  }