body {
  background: white;

}

a {
  color: rgb(100, 100, 255);
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin:0 auto;
  padding: 60px 0 100px;
  max-width: 960px;
}

  .App-logo {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    
  }
  
  .App-footer {
    text-align: center;
    margin: 30px 0;
  }